asgiref==3.5.0
beautifulsoup4==4.11.1
bootstrap4==0.1.0
boto==2.49.0
boto3==1.22.13
botocore==1.25.13
CacheControl==0.12.11
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
crypto==1.4.1
cryptography==37.0.2
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.4
dj-database-url==0.5.0
Django==4.0.3
django-allauth==0.50.0
django-bootstrap3==21.2
django-environ==0.8.1
django-heroku==0.3.1
django-livereload-server==0.4
django-storages==1.12.3
django-user-visit==0.5.1
djangorestframework==3.13.1
filelock==3.6.0
firebase-admin==5.2.0
gcloud==0.18.3
google-api-core==2.7.3
google-api-python-client==2.47.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
google-cloud-core==2.3.0
google-cloud-firestore==2.4.0
google-cloud-storage==2.3.0
google-crc32c==1.3.0
google-resumable-media==2.3.2
googleapis-common-protos==1.56.1
grpcio==1.46.1
grpcio-status==1.46.1
httplib2==0.20.4
idna==3.3
jmespath==1.0.0
jwcrypto==1.3
msgpack==1.0.3
Naked==0.1.31
oauth2client==4.1.3
oauthlib==3.2.0
Pillow==9.1.0
platformdirs==2.5.1
proto-plus==1.20.3
protobuf==4.21.0rc1
psycopg2==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.14.1
PyJWT==2.4.0
pyparsing==3.0.9
Pyrebase4==4.5.0
python-dateutil==2.8.2
python-jwt==3.3.2
python3-openid==3.2.0
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rsa==4.8
s3transfer==0.5.2
shellescape==3.8.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
tornado==6.1
tzdata==2022.1
ua-parser==0.10.0
uritemplate==4.1.1
urllib3==1.26.9
user-agents==2.2.0
virtualenv==20.14.0
whitenoise==6.1.0
wrapt==1.14.1
