{#{% extends 'base.html' %}#}
{#{% load static%}#}
{#{% block title %}#}
{#{% endblock %}#}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<style>
    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #secret {
        display: none;
    }
</style>
<script>
    function initMap() {
        const myLatLng = {lat: 6.011257, lng: 10.259316};
        let bound = {
            north: 6.015480800238992,
            south: 6.0094096736182125,
            east: 10.26324570825536,
            west: 10.254533893218694
        };
        const mapOptions = {
            zoom: 0,
            center: myLatLng,
            restriction: {
                latLngBounds: bound,
                strictBounds: false,
            },
            mapTypeId: 'satellite'
        };
        const map = new google.maps.Map(document.getElementById('map'),
            mapOptions);
        map.setTilt(45);
        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "Hello World!",
        });
    }

</script>
<div id="map"></div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script id="secret"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkKn6uueCK_Z3TvjhT6vvKUBw_z93HNWg&callback=initMap&v=weekly"
        async
></script>
