{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <style>
        body {
            background: -webkit-linear-gradient(left, #67a9fc, #00c6ff);
        }

        .contact-form {
            background: #fff;
            margin-top: 2%;
            margin-bottom: 5%;
            width: 100%;
            border-radius: 15px;
        }

        .contact-form .form-control {
            border-radius: 1rem;
            width: 100%;
        }

        .contact-image img {
            border-radius: 6rem;
            width: 11%;
            margin-top: -3%;
            transform: rotate(29deg);
        }

        .contact-form form {
            padding: 14%;
        }

        .contact-form form .row {
            margin-bottom: -7%;
        }

        textarea {
            resize: none;
        }

        .contact-form h3 {
            margin-bottom: 8%;
            margin-top: -10%;
            text-align: center;
            color: #0062cc;
        }

        .contact-form .btnContact {
            width: 100%;
            border: none;
            border-radius: 1rem;
            padding: 1.5%;
            background: #dc3545;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
        }
    </style>
    <div class="container contact-form">
        <form method="post" id="form-id">
            {% csrf_token %}
            <h3>Write the blog post</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            <input type="text" name="blog_title" class="form-control" placeholder="The post title"
                                   value=""/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input id='tags' type="text" name="tags" class="form-control"
                                   placeholder="Post tags" value=""/>
                        </label>
                    </div>
                    <input type="hidden" name="url" id="url">
                    <div class="form-group">
                        <input accept="image/*" type='file' name="files[]" id="files"/>
                    </div>
                    <div class="form-group">
                        <button class="btnContact" id="myButton" type="button" onclick="uploadImage()">
                            Submit Post
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>
                            <textarea name="content" class="form-control" placeholder="Your post content"
                                      style="width: 200%; height: 150px;"></textarea>
                        </label>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <script>
        let firebaseConfig = {
            apiKey: '{{ apiKey }}',
            authDomain: '{{ authDomain }}',
            databaseURL: '{{ databaseURL }}',
            projectId: '{{ projectId }}',
            storageBucket: '{{ storageBucket }}',
            messagingSenderId: '{{ messagingSenderId }}',
            appId: '{{ appId }}',
            measurementId: '{{ measurementId }}'
        };
        firebase.initializeApp(firebaseConfig);

        function uploadImage() {
            const storage = firebase.storage();
            const file = document.getElementById("files").files[0];
            const form = document.getElementById("form-id");
            const storage_reference = storage.ref();
            const this_reference = storage_reference.child(file.name).put(file);
            this_reference.on('state_changed', function (snapshot) {
            }, function (error) {
                console.log('Error', error);

            }, function () {
                const x = document.getElementById("myButton");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }, function () {
                // Uploaded completed successfully, now we can get the download URL
                this_reference.snapshot.ref.getDownloadURL().then(function (downloadURL) {
                    form.submit();
                });
            });


        }
    </script>
{% endblock %}