{% extends 'base.html' %}
{% load static %}
{% include 'base-search.html' %}
{% block content %}
    {#    <button onclick="myFunction()">Show Snackbar</button>#}
    <section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8"
             style="background-image: url({% static 'images/page-banner-4.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>{{ title }}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'blog' %}">Blog</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== PAGE BANNER PART ENDS ======-->

    <!--====== BLOG PART START ======-->

    <section id="blog-singel" class="pt-90 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-details mt-30">
                        <div class="thum">
                            <img src="{{ image }}" alt="Blog Details">
                        </div>
                        <div class="cont">
                            <h3>{{ title }}</h3>
                            <ul>
                                <li><a href="#"><i class="fa fa-calendar"></i>{{ date }}</a></li>
                                <li><a href="#"><i class="fa fa-user"></i>{{ author }}</a></li>
                                <li><a href="#"><i class="fa fa-tags"></i>{% for tag in tags %}{{ tag }}
                                    &nbsp;&nbsp;
                                    &nbsp;{% endfor %}
                                </a></li>
                            </ul>
                            {{ content }}
                            <ul class="share">
                                <li class="title">Share :</li>
                                <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <div class="blog-comment pt-45">
                                {% if blog_post_comment %}
                                    <div class="title pb-15">
                                        <h3>Comment {{ blog_post_comment }}</h3>
                                    </div>  <!-- title -->
                                    <ul>
                                    <li>
                                        {% for comment in blog_post_comment %}
                                            <div class="comment">
                                                <div class="comment-author">
                                                    <div class="author-thum">
                                                        <img src="{% static 'images/review/r-1.jpg' %}"
                                                             alt="Reviews">
                                                    </div>
                                                    <div class="comment-name">
                                                        <h6>Bobby Aktar</h6>
                                                        <span>April 03, 2019</span>
                                                    </div>
                                                </div>
                                                <div class="comment-description pt-20">
                                                    <p>There are many variations of passages of Lorem Ipsum
                                                        available, but
                                                        the majority have suffered alteration in some form, by
                                                        injected
                                                        humour, or randomised words which.</p>
                                                </div>
                                                <div class="comment-replay">
                                                    <a href="#">Reply</a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% if reply %}<!-- comment -->
                                            <ul class="replay">
                                                <li>
                                                    <div class="comment">
                                                        <div class="comment-author">
                                                            <div class="author-thum">
                                                                <img src="{% static 'images/review/r-2.jpg' %}"
                                                                     alt="Reviews">
                                                            </div>
                                                            <div class="comment-name">
                                                                <h6>Humayun Ahmed</h6>
                                                                <span>April 03, 2019</span>
                                                            </div>
                                                        </div>
                                                        <div class="comment-description pt-20">
                                                            <p>There are many variations of passages of Lorem Ipsum
                                                                available, but the majority have suffered alteration in
                                                                some
                                                                form.</p>
                                                        </div>
                                                        <div class="comment-replay">
                                                            <a href="#">Reply</a>
                                                        </div>
                                                    </div> <!-- comment -->
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    <h4>Be the first to comment this post.</h4>
                                {% endif %}
                                </ul>
                                <div class="title pt-45 pb-25">
                                    <h3>Leave a comment</h3>
                                </div> <!-- title -->
                                <div class="comment-form">
                                    <form method="post" action="{% url 'single_blog' pk=blog_id %}">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-singel">
                                                    <label>
                                                        <input name="comment_tags" required autocomplete="off"
                                                               aria-autocomplete="none" type="text"
                                                               placeholder="Tags Tags tags tAgs"
                                                               onfocus="this.removeAttribute('readonly');">
                                                    </label>
                                                </div> <!-- form single -->
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-singel">
                                                    <label>
                                                        <textarea name="comment_content" aria-autocomplete="none"
                                                                  required
                                                                  placeholder="Comment"
                                                                  onfocus="this.removeAttribute('readonly');"></textarea>
                                                    </label>
                                                </div> <!-- form single -->
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-singel">
                                                    <button class="main-btn">Comment</button>
                                                </div> <!-- form single -->
                                            </div>
                                        </div> <!-- row -->
                                    </form>
                                </div>  <!-- comment-form -->
                            </div> <!-- blog comment -->
                        </div> <!-- cont -->
                    </div> <!-- blog details -->
                </div>
                <div class="col-lg-4">
                    <div class="saidbar">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="saidbar-search mt-30">
                                    <form action="#">
                                        <label>
                                            <input type="text" placeholder="Search">
                                        </label>
                                        <button type="button"><i class="fa fa-search"></i></button>
                                    </form>
                                </div> <!-- sidebar search -->
                                {% if categories %}
                                    <div class="categories mt-30">
                                        <h4>Categories</h4>

                                        {% for category in categories %}
                                            <ul>
                                                <li><a href="#">{{ category }}</a></li>
                                            </ul>
                                        {% endfor %}

                                    </div>
                                {% endif %}
                            </div> <!-- categories -->
                            <div class="col-lg-12 col-md-6">
                                <div class="saidbar-post mt-30">
                                    <h4>Recent Posts</h4>
                                    <ul>
                                        {% if blogpost %}
                                            {% for post in blogpost %}
                                                <li>
                                                    <a href="{% url 'single_blog' pk=post.blog_path %}">
                                                        <div class="singel-post">
                                                            <div class="thum">
                                                                <img width="92" height="50"
                                                                     src="{{ post.first_image_path }}"
                                                                     alt="Blog">
                                                            </div>
                                                            <div class="cont">
                                                                <h6>{{ post.title }}</h6>
                                                                <span>{{ post.date }}</span>
                                                            </div>
                                                        </div> <!-- single post -->
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                    </ul>
                                </div> <!-- sidebar post -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- sidebar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
{% endblock %}
