{% extends 'base.html' %}
{% load static %}
{% include 'base-search.html' %}
{% block content %}
    <section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8"
             style="background-image: url({% static 'images/page-banner-4.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-banner-cont">
                        <h2>Blog</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blog</li>
                            </ol>
                        </nav>
                    </div>  <!-- page banner cont -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    <section id="blog-page" class="pt-90 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% if blogposft %}
                        {% for blog in blogpost.each %}
                            <div class="singel-blog mt-30">
                                <div class="blog-thum">
                                    <img src="{{ image }}" alt="Blog">
                                </div>
                                <div class="blog-cont">
                                    <a href="blog-single.html"><h3>{{ blogTitle }}</h3>
                                    </a>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-calendar"></i>25 Dec 2018</a></li>
                                        <li><a href="#"><i class="fa fa-user"></i>{{ author }}</a></li>
                                        <li>

                                            {% for tag in tags %}
                                                <a href="#" style="float: left"><i class="fa fa-tags"></i>{{ tag }}
                                                </a>
                                            {% endfor %}

                                        </li>
                                        &nbsp;
                                    </ul>
                                    <p>{{ content }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="singel-blog mt-30">
                            <div class="blog-thum">
                                <img
                                        src="https://google-solution-challenge2022.s3.amazonaws.com/static/No+Blog+Post+found.png"
                                        alt="Blog">
                            </div>
                        </div>
                    {% endif %}<!-- single blog -->
                    <nav class="courses-pagination mt-50">
                        <ul class="pagination justify-content-lg-end justify-content-center">
                            <li class="page-item">
                                <a href="#" aria-label="Previous">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="page-item"><a class="active" href="#">1</a></li>
                            <li class="page-item"><a href="#">2</a></li>
                            <li class="page-item"><a href="#">3</a></li>
                            <li class="page-item">
                                <a href="#" aria-label="Next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>  <!-- courses pagination -->
                </div>
                <div class="col-lg-4">
                    <div class="saidbar">
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="saidbar-search mt-30">
                                    <form action="#">
                                        <label>
                                            <input type="text" placeholder="Search">
                                        </label>
                                        <button type="button"><i class="fa fa-search"></i></button>
                                    </form>
                                </div> <!-- saidbar search -->
                                <div class="categories mt-30">
                                    <h4>Categories</h4>
                                    <ul>
                                        <li><a href="#">Fronted</a></li>
                                        <li><a href="#">Backend</a></li>
                                        <li><a href="#">Photography</a></li>
                                        <li><a href="#">Teachnology</a></li>
                                        <li><a href="#">GMET</a></li>
                                        <li><a href="#">Language</a></li>
                                        <li><a href="#">Science</a></li>
                                        <li><a href="#">Accounting</a></li>
                                    </ul>
                                </div>
                            </div> <!-- categories -->
                            <div class="col-lg-12 col-md-6">
                                <div class="saidbar-post mt-30">
                                    <h4>Popular Posts</h4>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div class="singel-post">
                                                    <div class="thum">
                                                        <img src="{% static 'images/blog/blog-post/bp-1.jpg' %}"
                                                             alt="Blog">
                                                    </div>
                                                    <div class="cont">
                                                        <h6>Introduction to languages</h6>
                                                        <span>20 Dec 2018</span>
                                                    </div>
                                                </div> <!-- single post -->
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="singel-post">
                                                    <div class="thum">
                                                        <img src="{% static 'images/blog/blog-post/bp-2.jpg' %}"
                                                             alt="Blog">
                                                    </div>
                                                    <div class="cont">
                                                        <h6>How to build a game with java</h6>
                                                        <span>10 Dec 2018</span>
                                                    </div>
                                                </div> <!-- single post -->
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="singel-post">
                                                    <div class="thum">
                                                        <img src="{% static 'images/blog/blog-post/bp-1.jpg' %}"
                                                             alt="Blog">
                                                    </div>
                                                    <div class="cont">
                                                        <h6>Basic accounting from primary</h6>
                                                        <span>07 Dec 2018</span>
                                                    </div>
                                                </div> <!-- single post -->
                                            </a>
                                        </li>
                                    </ul>
                                </div> <!-- sidebar post -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- sidebar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
{% endblock %}